APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:mvgkerHTTLdk4DOH/3lXv+/eMhowBpAbJdW6yYxQZmY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=data_website
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=hung0913003358@gmail.com
MAIL_PASSWORD=satosisla1
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
GOOGLE_MAPS_API_KEY=AIzaSyB1xhsjuJu6eAnXUXyuBlo2y90HeMB1oCM

FACEBOOK_APP_ID = 380648766402235
FACEBOOK_APP_SECRET = 03335716ea9f78e6a3581f1d85534fc2
FACEBOOK_APP_CALLBACK_URL = http://localhost:8000/callback/facebook

GOOGLE_APP_ID =78944656566-4q8jbhep9ifcdicmqjshmlm29gvp47kt.apps.googleusercontent.com
GOOGLE_APP_SECRET =HUzSmuj2EawrtjOtQCn4mp6w
GOOGLE_APP_CALLBACK_URL = http://localhost:8000/callback/google

PAYPAL_CLIENT_ID=Ab7li20x1UxTWozasZWTILM031OilVmHJp0GQZX9Kogw4sPjvo3VC6hMXLB8Vf_V8AemEQ_31J967kVc
PAYPAL_SECRET=EB-eny0tS2c0vk_KNEVc0-GphuLva3fEhTo4V1m0PgIgTWAuOi-NADPVIX3z2PWv3lr7KUGchsiIJwZe
PAYPAL_MODE=sandbox

STRIPE_PUBLISHABLE_KEY=pk_test_51Iw7TQLxvwHioeUuTvLvbu3aQUgCWzvdBohSOvuaLAeXerZCjBBDIkz8fqqxzSlxSpi5wxef40HovGeYn4GXUAic00VMLQ8SFH
STRIPE_SECRET_KEY=sk_test_51Iw7TQLxvwHioeUuZDCIsF1WkOkJCzFJ3ep2pTI07hTbWVo10E9UufwMXB3sRZgRLV3JdrHDixdj7lpuZ2frJnwE00CiOm5hgK

JWT_SECRET=a4YtuT7ZukmgpGgpb35zG2L8bUsfOhsXXYwviCd0p7Nq7gF7S11XX3edLasvUV1N

PHP_VERSION=8.1
HTTP_PORT=8033
HTTPS_PORT=443
NGINX_VERSION=1.23
DB_VERSION=8.0
DB_ROOT_PASSWORD=rootpass
