 .widget-layout,.widget-chat{
    position: fixed;
    bottom: 0;
    right: 35px;
    z-index: 99999 !important;
}
.widget-preview--action{
    cursor: pointer;
    background: #fdc052;
    color: white;
    padding: 5px 18px;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.chat-button{
    position: absolute;
    top: -10px;
    right: 0;
    color: white;
    background: red;
    padding: 5px;
    border-radius: 50%;
}
.widget-chat{
    background: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 400px;
    width: 300px;
}
.widget-preview--header{
    text-align: center;
    padding: 5px;
    background: #4da5cff5;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
    position: relative;
}
.widget-preview--close{
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 30px;
}
.widget-chat-content{
    width: 90%;
    display: flex;
    background: #eeeeee8c;
    padding: 5px;
    border-radius: 5px;
    font-weight: 200;
    margin: 5px;
}
.friend-chat{
    float: right;
}
.widget-chat-input{
    position: absolute;
    bottom: 0;
    height:10%;
    width: 100%;
}
.widget-chat-input form{
    height: 100%;
    width: 100%;
}
.widget-chat-input input{
    border: none;
    width: 85%;
    height:100%
}
.widget-chat-input button{
    background: transparent;
    width: 13%;
    border: none;
    height:100%;
    color:#0a6cff;
    cursor: pointer;
}
.disable{
    opacity: 0.5;
    pointer-events: none;
}
.widget-chat .contents{
    height: 80%;
    border-bottom: 0.2px solid #000;
    overflow: auto;
}
.fas{
    display:none !important
}
.default{
    background: #256aa7;
    color: white;
}
.success{
    background: #25a729;
    color: white;
}
.error{
    background: #b73b3b;
    color: white;
}