body { color: #333; font-family: Roboto; font-size: 14px; min-width: 1200px; }
.wrp { margin: auto; width: 1200px; }
.thongke { border-bottom: 2px solid #cdcdcd; color: #909090; font-size: 15px; margin: 0; margin-bottom: 30px; padding: 0; padding-bottom: 7px; width: 100%; }
.thongke li { display: inline-block; margin-right: 40px }
.thongke li:after { content: "|"; display: inline-block; margin-left: 40px; margin-top: -6px; vertical-align: middle; }
.thongke li:last-child:after { display: none }
.thongke li .far { margin-right: 3px }
.noidung { line-height: 22px; min-height: 100px; text-align: justify; width: 100%; }
.noidung * { max-width: 100% }
.noidung img,
.noidung input[type=image],
.noidung1 img,
.noidung1 input[type=image] { display: block !important; height: auto !important; margin: auto; max-width: 100%; }
.noidung iframe,
.noidung video,
.noidung1 iframe,
.noidung1 video { display: block !important; margin: auto; max-width: 100%; }
.noidung table { margin: auto }
.noidung figcaption { text-align: center; }
.noidung .wImage iframe { height: 100%; width: 100%; }
.noidung.clip .wImage:before { padding-bottom: 56.23% }
.noidung h1,
.noidung h2,
.noidung h3,
.noidung h4,
.noidung h5,
.noidung h6 { display: block }
.noidung h1 { font-size: 2em; margin: 0.67em 0; }
.noidung h2 { font-size: 1.5em; margin: 0.83em 0; }
.noidung h3 { font-size: 1.17em; margin: 1em 0; }
.noidung h4 { margin: 1.33em 0 }
.noidung h5 { font-size: 0.83em; margin: 1.67em 0; }
.noidung h6 { font-size: 0.67em; margin: 2.33em 0; }
.fancybox-overlay.fancybox-overlay-fixed { background: rgba(0, 0, 0, 0.8) }
.fancybox-inner img { max-width: 100%; width: auto !important; }
.lh35 { line-height: 35px }
.tab-content .tab { display: none }
.tab-content .tab.active { display: block }
a:hover { color: inherit; text-decoration: none }
* { box-sizing: border-box }
.wImage { overflow: hidden; position: relative; }
.wImage:before { content: ""; display: block; padding-bottom: 66.66% }
.wImage .image { height: 100%; left: 0; position: absolute; top: 0; width: 100% }
.wImage .image.cover img { height: 100%; object-fit: cover; width: 100%; }
.wImage .image img,
.wImage .image img.owl-lazy { -moz-transform: translateY(-50%) translateX(-50%); -moz-transition: 0.5s all ease-in-out; display: block; left: 50%; margin: auto; max-height: 100%; max-width: 100%; position: absolute; top: 50%; transform: translateY(-50%) translateX(-50%); transition: 0.5s all ease-in-out; vertical-align: middle; }
.openList,.openSub { display: none }
.pagging { list-style: none; margin: 0; padding: 0; }
.pagging li { display: inline-block; line-height: 40px; overflow: hidden; text-align: center; width: 40px; }
.pagging li a { background: #f6f6f6; color: #002854; display: block; font-size: 16px; }
.pagging li i { font-size: 14px }
.pagging li:hover a,
.pagging li a.active { background: #f3a701; color: #fff; font-size: 15px }
#overlay { background: rgba(0, 0, 0, 0.9); display: none; height: 100vh; left: 0; position: fixed; top: 0; width: 100vw; z-index: 20; }
a span,
span a { -webkit-transition: none; transition: none; }


#commonHead { background: black; padding: 8px 0; border-bottom: 1px solid #2d2d2d}
#commonHead .wrp { display: flex; align-items: center; justify-content: space-between}
#commonHead .textLeft { text-transform: uppercase; color: #5a5a5a; font-family: RobotoB; font-style: italic}
.frmSearch { display: flex; background: #fff;  width: 435px; height: 35px; overflow: hidden;position:relative}
.frmSearch select { width: 90px; height: 35px; border: none; background: transparent; padding: 0 25px; outline: none}
.frmSearch .flex { flex: 1; display: flex; position: relative}
.frmSearch .flex .btnSearch { height: 35px;position:absolute;right:0; line-height: 35px; text-align: right;outline:none; background: transparent; border: none; cursor: pointer}
.frmSearch .flex input { flex: 1; height: 35px; border: none; outline: none; padding: 0 15px; background: transparent}
#commonHead .menuRight { display: flex; padding: 0; margin: 0; list-style: none; color: #d3d3d3; text-transform: uppercase; font-size: 12px;}
#commonHead .menuRight li { padding: 0 10px; position: relative}
#commonHead .menuRight li:after { content: url(icon/afterMenu.png); position: absolute; top: 50%; transform: translateY(-50%); right: 0}
#commonHead .menuRight li:last-child:after {display: none}
#commonHead .menuRight li a:hover {color: #fee437}
.logo{width:150px}
#header { background: black; position: relative; z-index: 10}
#header .wrp { display: flex; align-items: center; justify-content: space-between}
#menuMain { margin-left: -10px}
#menuMain>ul { padding: 0; margin: 0; list-style: none; display: flex; color: #dfdfdf; position: relative}
#menuMain>ul>li>a { text-transform: uppercase; font-family: RobotoM; padding: 25px 20px; position: relative; display: block}
#menuMain>ul>li>a:before { content: ""; position: absolute; top: 0; left: 20px; width: calc(100% - 40px); height: 2px; background: #fee437; opacity: 0; transition: 0.3s all ease-in-out}
#menuMain>ul>li>a.active,#menuMain>ul>li>a:hover {color: #fee437}
#menuMain>ul>li>a.active:before,#menuMain>ul>li>a:hover:before {opacity: 1}
#menuMain>ul>li>a:after { content: url(icon/afterSubmenu.png); position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%); opacity: 0; transition: 0.3s all ease-in-out; display: none}
#menuMain>ul>li>a:hover:after {opacity: 1}
#menuMain>ul>li ul { position: absolute; top: 110%; width: 100%; padding: 0; margin: 0; list-style: none; transition: 0.3s all ease-in-out; opacity: 0; visibility: hidden}
#menuMain>ul>li .subMenu { background: black; display: flex; padding: 25px 20px;border: 1px solid #2d2d2d}
#menuMain>ul>li .subMenu .group { flex: 1; padding-right: 10px}
#menuMain>ul>li .subMenu .group .head { text-transform: uppercase; margin-bottom: 30px; display: block; font-family: RobotoM; }
#menuMain>ul>li .subMenu .group .item a { display: block; line-height: 20px; margin-bottom: 10px}
#menuMain>ul>li .subMenu .group a:hover {color: #fee437}
#menuMain>ul>li:hover ul { visibility: visible; top: 100%; opacity: 1}
#menuMain>ul>li.hasChild a:after {display: block}

#header .right { display: flex; align-items: center}
#header .right .item { display: flex; align-items: center; padding: 0 10px; position: relative}
#header .right .item:after{ content: url(icon/afterMenu.png); position: absolute; top: 50%; transform: translateY(-50%); right: 0}
#header .right .item .text {margin-left: 6px}
#header .right .item .text >* { display: block; }
#header .right .item .text .top { color: #ffffff; margin-bottom: 3px}
#header .right .item .text .bot { color: #fee437; font-size: 18px; text-transform: uppercase; font-family: RobotoM}
#header .right .btnCart { margin-left: 10px; color: #fff; position: relative}
#header .right .btnCart .number { position: absolute; top: -8px; right: -8px; width: 15px; height: 15px; border-radius: 50%; background: #a8741a; text-align: center; line-height: 15px; font-size: 12px}

#slide .wImage:before {padding-bottom: 21.47%}

#cateHome {margin: 40px 0 30px 0}
#cateHome .group { display: flex; flex-wrap: wrap}
#cateHome .group .item { width: calc((100% - 100px) / 5); margin-right: 25px; margin-bottom: 25px; position: relative; border-radius: 50%; overflow: hidden}
#cateHome .group .item:nth-child(5n) {margin-right: 0}
#cateHome .group .item .wImage:before {padding-bottom: 100%}
#cateHome .group .item .name { position: absolute; bottom: 20px; width: 100%; text-transform: uppercase; text-align: center; padding: 10px 0; background: #fed501; font-size: 13px; pointer-events: none; font-family: RobotoM}
#cateHome .group .item:hover .name { background: #ec610a; color: #fff}


.product .titleHead { text-transform: uppercase; position: relative; font-family: RobotoM; font-size: 25px; display: table; margin: auto; padding-bottom: 15px; margin-bottom: 20px}
.product .titleHead:before { content: ""; width: 170px; height: 1px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); background: #ededed}
.product .titleHead:after { content: ""; width: 70px; height: 1px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); background: #ec610a}
.product .tabs .tab-links { display: flex; justify-content: center; align-items: center; padding: 0; margin: 0; list-style: none; margin-bottom: 30px;}
.product .tabs .tab-links li {margin-right: 10px}
.product .tabs .tab-links li:last-child {margin-right: 0}
.product .tabs .tab-links li a { padding: 10px 16px; border: 1px solid transparent; border-radius: 25px; font-size: 15px; font-family: RobotoM; display: block; white-space: nowrap}
.product .tabs .tab-links li.active a { color: #ec610a; border-color: #ec610a}
.product .tabs .tab-links li:hover a {color: #ec610a}
.tabContent { position: relative; }
.tabContent .tab { opacity: 0; z-index: -1; position: absolute; top: 0; left: 0; width: 100%}
.tabContent .tab.active { opacity: 1; z-index: 1; position: static}

.divBanner .group { display: flex; margin: 0 -15px}
.divBanner .group >* { flex: 1; margin: 0 15px}
.divBanner .group img { width: 100%; display: block; max-width: 100%}

.product {margin-bottom: 40px}
.product .group { display: flex; flex-wrap: wrap; margin-bottom: -20px}
.product .group .item { width: calc((100% - 80px) / 5); margin-right: 20px; margin-bottom: 5px; }
.product .group .item:nth-child(5n) {margin-right: 0}
.product .group .item .wImage:before {padding-bottom: 100%}
.product .group .item .wImage {margin-bottom: 15px}
.product .group .item .info { color: #606060; padding-bottom: 15px}
.product .group .item .info .attr {font-size: 13px}
.product .group .item .info .name { margin: 10px 0; display: block; line-height: 20px; height: 40px; overflow: hidden;color: black;font-weight: 549;}
.product .group .item .info .name:hover {color: #ec610a}
.product .group .item .price { display: flex; align-items: baseline}
.product .group .item .price .new { font-family: RobotoB; color: #e10c00; font-size: 17px; margin-right: 20px}
.product .group .item .price .old { font-size: 13px; text-decoration: line-through}
.product .group .item .count { margin-top: 15px; width: 100%; height: 19px; border-radius: 20px; border: 1px solid #fc9a24; text-align: center; line-height: 19px; font-family: RobotoM; font-size: 12px; position: relative; overflow: hidden; color: #000; }
.product .group .item .count .bg { position: absolute; top: 0; right: 0; background: #24b4fce0; height: 100%; z-index: 1}
.product .group .item .count .text { position: relative;z-index: 2}
.product .group .item .like { position: absolute; top: 10px; left: 0; background: #f25220; color: #fff; line-height: 20px; font-size: 12px; padding: 0 5px 0 10px}
.product .group .item .top { width: 40px; height: 40px; background: #ec610a; line-height: 40px; text-align: center; color: #fff; font-size: 13px; position: absolute; top: 8px; right: 8px; border-radius: 50%; }
.product .group .item .top1 { width: 50px; height: 50px; background: url(icon/icosale.png) top right no-repeat; position: absolute; z-index: 5; top: 0; right: 0}
.product .group .item .top1 span { position: absolute; font-family: RobotoM; transform: rotate(45deg); top: 10px; right: 1px; color: #fff; font-size: 12px; text-transform: uppercase}
.product .group .item .bot { height: 24px; background: url(icon/bgBot.png) left top repeat-x; min-width: 80px; padding: 0 10px; position: absolute; bottom: 0; left: 0; z-index: 5; line-height: 24px; color: #fff; font-family: RobotoM; text-align: center}
.product .group .item .bot:after { content: ""; height: 24px; width: 7px; position: absolute; top: 0; right: -7px; background: url(icon/afterBot.png) center no-repeat; }
.product .group.slide .item .info {padding-bottom: 0}

.product .group .item .countDown { position: absolute; z-index: 5; bottom: 10px; left: 50%; transform: translateX(-50%); background: rgba(75, 147, 215, 0.8); color: #fff; font-family: RobotoB; display: flex; border-radius: 10px; width: calc(100% - 30px); height: 62px; display: flex}
.product .group .item .countDown .child { flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center; position: relative}
.product .group .item .countDown .child .num {font-size: 17px}
.product .group .item .countDown .child .text { text-transform: uppercase; font-size: 12px; margin-top: 4px}
.product .group .item .countDown .child:after { content: ""; height: 25px; width: 1px; background: #6fa9df; position: absolute; right: 0; top: 50%; transform: translateY(-50%)}
.product .group .item .countDown .child:last-child:after {display: none}


#logoPartner {margin: 20px 0 15px}
#logoPartner .wrp { display: flex; flex-wrap: wrap}
#logoPartner .wrp .wImage { width: calc(100% / 6); border-right: 1px solid #dddddd}
#logoPartner .wrp .wImage:last-child {border: none}
#logoPartner .wrp .wImage:before {padding-bottom: 30.6%}

.product2 { padding: 30px 0 40px 0; background: #f7f7f7; border-top: 13px solid #f0eeee;border-bottom: 13px solid #f0eeee; }
.product2 .wrp { display: flex; }
.product2 .wrp .left { width: 285px; display: flex; flex-direction: column; justify-content: center;padding-right: 40px; text-align: justify}
.product2 .wrp .left .titleCate { text-transform: uppercase; margin-bottom: 20px; padding-bottom: 20px; position: relative; font-family: RobotoM; font-size: 20px}
.product2 .wrp .left .titleCate:after { content: ""; height: 1px; width: 70px; background: #fc9a24; position: absolute; bottom: 0; left: 0}
.product2 .wrp .left .contCate {  line-height: 25px}
.product2 .wrp .right {width: calc(100% - 285px)}
.product2 .wrp .right .group .item { width: calc((100% - 60px) / 3); margin-right: 30px; background: #fff; margin-bottom: 0}
.product2 .wrp .right .group .item:nth-child(3n) {margin-right: 0}
.product2 .wrp .right .group .item .info {padding: 15px}
.product2 .wrp .right .group.slide2 .item {width: 100%}
.product .group.slide2 .owl-next,
.product .group.slide2 .owl-prev { background: #fff; border-radius: 50%; box-shadow: 0 0 4px rgba(255, 255, 255, 0.4); height: 40px; left: -20px; line-height: 40px; position: absolute; text-align: center; top: 50%; transform: translateY(-50%); transition: 0.3s all ease-in-out; width: 40px; }
.product .group.slide2 .owl-next { left: inherit; right: -20px; transform: scaleX(-1) translateY(-50%) }
.product .group.slide2 .owl-next:hover,
.product .group.slide2 .owl-prev:hover { box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) }
.product .group.slide2 .owl-next:after,
.product .group.slide2 .owl-prev:after { content: "\f053"; font-family: 'FontAwesome'; font-weight: 900; }

.product .titleCate {padding-bottom: 12px; border-bottom: 1px solid #ededed; position: relative; margin-bottom: 15px; padding-right: 80px; display: flex; justify-content: space-between}
.product .titleCate >a { text-transform: uppercase; font-family: RobotoM; display: flex; align-items: center; font-size: 16px; }
.product .titleCate:after { content: ""; width: 70px; height: 1px; background: #ffc300; position: absolute; bottom: -1px; left: 0; }
.product .titleCate >a .icon {margin-right: 10px}
.product .titleCate .tab-links { margin: 0}
.product .titleCate .tab-links li a { padding: 5px 16px; display: inline-block; text-align: center}
.product .slide .item { width: 100%; margin: 0}
.product .group.slide {margin-bottom: 30px}
.product .group.slide .owl-next,
.product .group.slide .owl-prev { border: 1px solid #ececec; border-radius: 50%; box-shadow: 0 0 4px rgba(255, 255, 255, 0.4); height: 30px; line-height: 30px; text-align: center; top: 50%; transition: 0.3s all ease-in-out; width: 30px; display: inline-block; margin-left: 5px}
.product .group.slide .owl-next { left: inherit; right: -20px; transform: scaleX(-1) }
.product .group.slide .owl-next:hover,
.product .group.slide .owl-prev:hover { box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) }
.product .group.slide .owl-next:after,
.product .group.slide .owl-prev:after { content: "\f053"; font-family: 'FontAwesome'; font-weight: 900; font-size: 13px}
.product .group.slide .owl-nav { position: absolute; top: -63px; right: 0}

.sup {background: #f7f7f7}

#star {padding: 20px 0}
#star .titleHead { color: #3c302e; text-transform: uppercase; text-align: center; font-family: RobotoL; font-size: 25px; letter-spacing: 10px; position: relative; padding-bottom: 13px}
#star .titleHead:after { content: ""; width: 55px; height: 2px; background: #422e0e; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%)}
#star .ourWath { font-family: RobotoB; font-size: 35px; text-align: center; text-transform: uppercase; margin-top: 25px; margin-bottom: 10px; letter-spacing: 2px}
#star .ourWath span:first-child {color: #c3b997}
#star .ourWath span:last-child {color: #220500}
#star .contHead { width: 600px; line-height: 20px; margin: auto; margin-bottom: 35px; text-align: center; max-width: 100%}
#star .group {padding: 0 30px}
#star .group .item .wImage { border-radius: 50%; border: 5px solid #bab99c; margin-bottom: 14px}
#star .group .item .wImage:before {padding-bottom: 100%}
#star .group .item .name { text-align: center; display: block; font-family: RobotoB; margin-bottom: 3px}
#star .group .item .cont { text-align: center; display: block; }
#star .group .owl-next,
#star .group .owl-prev {  position: absolute; text-align: center; top: 50%; transform: translateY(-50%); transition: 0.3s all ease-in-out; color: #bfb2a1; left: 0}
#star .group .owl-next { left: inherit; right: 0; transform: scaleX(-1) translateY(-50%) }
#star .group .owl-next:after,
#star .group .owl-prev:after { content: "\f053"; font-family: 'FontAwesome'; font-weight: 900; font-size: 35px}

#news.home { border-top: 9px solid #f0eeee; border-bottom: 9px solid #f0eeee}
#news.home .wrp { display: flex; }
#news.home .left { width: 800px; padding: 15px 0; padding-right: 15px}
#news.home .left .group {display: flex}
#news.home .left .main { width: 415px; margin-right: 20px}
#news.home .left .main .name { font-family: RobotoB; margin: 10px 0 5px 0; display: block; line-height: 20px; font-size: 15px}
#news.home .left .main .time { font-size: 12px; color: #a7a7a7}
#news.home .left .newR {flex: 1}
#news.home .left .item { display: flex; padding-bottom: 14px; margin-bottom: 14px; border-bottom: 1px solid #eee; align-items: flex-start}
#news.home .left .item .wImage { width: 125px; margin-right: 10px}
#news.home .left .item .wImage:before {padding-bottom: 56.35%}
#news.home .left .item .info {flex: 1}
#news.home .left .item .info .name { font-family: RobotoB; line-height: 19px; display: block; margin-bottom: 3px; max-height: 57px; overflow: hidden}
#news.home .left .name:hover {color: #ec610a}
#news.home .left .item .info .time { font-size: 12px; color: #a7a7a7}
#news.home .left .item:last-child { border: none; margin: 0; padding: 0}

.wImage.youtube:before {padding-bottom: 56.25%}
.wImage.youtube iframe { width: 100%; height: 100%}
#news.home .right { flex: 1; border-left: 15px solid #f0eeee; padding: 15px 0 15px 15px}
#news.home .titleCate { text-transform: uppercase; font-size: 22px; padding-bottom: 15px; position: relative; border-bottom: 1px solid #ededed; display: block; margin-bottom: 20px; font-family: RobotoM}
#news.home .titleCate:after { content: ""; width: 70px; height: 1px; background: #ec610a; position: absolute; bottom: -1px; left: 0}
#news.home .right .main { padding-bottom: 10px; margin-bottom: 13px; border-bottom: 1px dotted #f6f6f6}
#news.home .right .main .name { display: block; text-transform: uppercase; font-family: RobotoB; margin-top: 9px}
#news.home .right .item { display: flex; padding-bottom: 14px; margin-bottom: 14px; border-bottom: 1px solid #eee; align-items: flex-start}
#news.home .right .item .wImage { width: 125px; margin-right: 10px}
#news.home .right .item .wImage:before {padding-bottom: 56.35%}
#news.home .right .item .info {flex: 1}
#news.home .right .item .info .name { font-family: RobotoB; line-height: 19px; display: block; margin-bottom: 3px; max-height: 57px; overflow: hidden}
#news.home .right .name:hover {color: #ec610a}
#news.home .right .item .info .time { font-size: 12px; color: #a7a7a7}
#news.home .right .item:last-child { border: none; margin: 0; padding: 0}
.btnXemthem a {display: table; margin: auto; border-radius: 20px; border: 1px solid #42464e; margin-top: 15px; padding: 10px 50px}
.btnXemthem a:hover { color: #fff; background: #ec610a; border-color: #ec610a}

#SupInfo { padding: 30px 0; background: #f7f7f7;}
#SupInfo .wrp { display: flex; align-items: flex-start}
#SupInfo .wrp .left { width: 585px; display: flex; }
#SupInfo .wrp .left .item { flex: 1; display: flex; flex-direction: column; }
#SupInfo .wrp .left .item .head { text-transform: uppercase; margin-bottom: 10px; font-size: 17px;}
#SupInfo .wrp .left .item .tel { display: flex;align-items: center}
#SupInfo .wrp .left .item .tel .icon { width: 25px; height: 25px; border-radius: 50%; text-align: center; line-height: 25px; background: #e52c25; margin-right: 15px; color: #fff}
#SupInfo .wrp .left .item .tel .icon i { transform: scaleX(-1);  font-size: 11px}
#SupInfo .wrp .left .item .tel .text {font-size: 25px}
#SupInfo .wrp .left .item .bot { font-size: 12px; color: #999; margin-top: 12px}

.mb10 {margin-bottom: 10px}
#SupInfo .wrp .right { display: flex; }
#SupInfo .wrp .right .social ul { padding: 0; margin: 0; list-style: none; display: flex; align-items: center}
#SupInfo .wrp .right .social ul li { font-size: 30px; margin:0 17px}
#SupInfo .wrp .right .social ul li a { display: block; color: #252a2b}
#zaloIcon {margin-bottom: -5px}

#SupInfo .wrp .right .mail {margin-right: 30px}
#frmMail { display: flex; height: 35px; width: 300px; margin-bottom: 12px}
#frmMail .btnRegis { height: 35px; width: 75px; background: #000000; color: #fff; line-height: 35px; text-align: center}
#frmMail input { flex: 1; height: 35px; border: 1px solid #d0d0d0; outline: none; padding: 0 10px}
#frmMail .check { display: flex; align-items: center}
#frmMail .check input {margin: 0}

#footer { padding: 50px 0 60px 0; font-size: 15px}
#footer ul { padding: 0; margin: 0; list-style: none}
#footer .top { display: flex; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #eeeeee}
#footer .titleHead { position: relative; display: block; text-transform: uppercase; font-size: 19px; font-family: RobotoM; padding-bottom: 15px; border-bottom: 1px solid #ededed; margin-bottom: 28px}
#footer .titleHead:after { content: ""; height: 1px; width: 70px; position: absolute; bottom: -1px; background: #ec610a; left: 0}

#footer .left { width: 257px; margin-right: 30px}
#footer a:hover {color: #ec610a}
#footer .left .cont { line-height: 21px; text-align: justify; margin-bottom: 16px}
#footer .left ul li { line-height: 23px; margin-bottom: 10px; display: flex; }
#footer .left ul li .icon { width: 28px; font-size: 20px; color: #999; text-align: center}
#footer .mid { width: 475px;display: flex; }
#footer .mid .group { flex: 1; padding-right: 20px}
#footer .mid .group ul li { font-size: 16px; line-height: 22px; margin-bottom: 10px}
#footer .right {flex: 1}
#footer .right .tag {margin-bottom: 25px}
#footer .right .tag a { display: inline-block; padding: 7px 15px; border: 1px solid #dbdbdb; border-radius: 8px; margin-right: 10px; margin-bottom: 10px}
#footer .right .tag a:hover { background: #ec610a; color: #fff; border-color: #ec610a}
#footer .right .dangky >* {margin-right: 25px}

#commonBot { background: #ec610a; color: #fff; padding: 18px 0; }
#commonBot .wrp {display: flex; justify-content: space-between; align-items: center}
#commonBot .right { padding: 0; margin: 0; list-style: none; display: flex}
#commonBot .right li {margin: 0 7px}

.product3 { background: #f0eeee; margin: 0; padding: 15px 0; margin-top: -40px}
.product3 .wrp { display: flex; background: #fff}
.product3 .bannerMain { width: 264px; position: relative}
.product3 .bannerMain .info { position: absolute; top: 40px; left: 0; pointer-events: none; z-index: 5; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%}
.product3 .bannerMain .info .name { color: #fff; font-family: RobotoB; text-transform: uppercase; padding: 0 20px; font-size: 20px; text-align: center; margin-bottom: 13px; line-height: 27px}
.product3 .bannerMain .info .name span { display: block; text-align: center}
.viewAll { color: #fff; line-height: 28px; border: 1px solid #fff; padding: 0 10px; display: table}
.product3 .bannerMain .wImage {min-height: 100%}
.product3 .bannerMain .wImage:before {padding-bottom: 134.47%}
.product3 .group { width: calc(100% - 264px); margin: 0}
.product3 .group:not(.slide3) .item { width: calc((100% - 3px) / 4); margin: 0; border-right: 1px solid #eeeeee; padding: 0 15px; }
.product3 .group:not(.slide3) .item:last-child {border-right: none}
.product3 .group .item { padding: 0 15px; width: 100%; border-right: 1px solid #eeeeee;}
button{outline:none}
#pageway { background: #e5e5e5}
#pageway .wrp { background: #fff; padding: 15px 0}
#pageway ul { display: flex; padding: 0; margin: 0; list-style: none; width: 100%; justify-content: center; align-items: center; flex-wrap: wrap}
#pageway ul li:after { content: "\f054"; font-family: 'FontAwesome'; font-weight: 900; font-size: 13px; margin: 0 7px; color: #999}
#pageway ul li { display: flex; align-items: center; line-height: 20px}
#pageway ul li:last-child:after {display: none}

#container { background: #e5e5e5; padding-bottom: 30px}
#menuCate {padding: 10px 0}
#menuCate .wrp { background: #fff}
#menuCate .group { display: flex; flex-wrap: wrap}
#menuCate .group .item { width: calc(100% / 5); display: flex; padding: 6px 10px; align-items: center; position: relative}
#menuCate .group .item .img { width: 66px; border-radius: 50%; background: #f2f2f2; margin-right: 13px}
#menuCate .group .item .wImage { margin: 10px; border-radius: 50%}
#menuCate .group .item .wImage:before {padding-bottom: 100%}
#menuCate .group .item .right {flex: 1;}
#menuCate .group .item .right .name { text-transform: uppercase; font-family: RobotoM; margin-bottom: 2px; transition: 0.3s all ease-in-out}
#menuCate .group .item:hover .name {color: #ec610a}
#menuCate .group .item:after { content: ""; height: calc(100% - 20px); top: 10px; right: 0; width: 1px; background: #ddd; position: absolute;}
#menuCate .group .item:last-child:after {display: none }

.filterLogo {margin-bottom: 10px}
.filterLogo .wrp { background: #fff;}
.filterLogo .group { display: flex; flex-wrap: wrap; }
.filterLogo .group .img .wImage:before {padding-bottom: 29.41%}
.filterLogo .group .img { width: calc(calc(100% + 7px) / 7); padding: 10px; border: 1px solid #ddd; margin-right: -1px; }
.filterLogo .group .img:nth-child(7) ~.img { margin-top: -1px;}
.filterLogo .group:not(.active) .img:nth-child(6) ~.img {display: none}
.filterLogo .group .viewMore { flex: 1; text-align: center; border: 1px solid #ddd; display: flex; align-items: center; justify-content: center}
.filterLogo .group .viewMore.active span:first-child,.filterLogo .group .viewMore:not(.active) span:last-child {display: none}

#filter .filter { border-bottom: 1px solid #f3f3f3; box-sizing: border-box; padding: 15px 5px; }
#filter .filter .title { color: #0076ff; font-family: RobotoB; margin-bottom: 14px; }
#filter .filter ul { list-style: none; margin: 0;overflow: hidden; padding: 0; }
#filter .filter ul li { font-size: 13px; margin-bottom: 8px; }
#filter .filter ul li:last-child { margin-bottom: 0 }
#filter .filter input[type=checkbox] { background: transparent; border-color: transparent; height: 14px; outline: none; position: relative; width: 14px; }
#filter .filter input[type=checkbox]:after { background: #fff; border: 1px solid #c7c7c7; content: ""; font: normal normal normal 14px/1 'FontAwesome'; font-weight: 900; height: 100%; height: 100%; left: 0; line-height: 14px; position: absolute; text-align: center; top: 0; width: 100%; width: 100%; }
#filter .filter input[type=checkbox]:checked:after { border-color: #0076ff; color: #0076ff; content: "\f00c"; }
#filter .filter input[type=checkbox]:checked ~ span { color: #0076ff }
#filter .filter li label span { flex: 1; line-height: 20px; margin-left: 5px; }
#filter .filter li label { cursor: pointer; display: flex }
#filter .filter:last-child { border: none }
#filter .order { align-items: center; display: flex;padding: 15px 10px; border-bottom: 1px solid #e5e5e5; margin-bottom: 20px}
#filter .order ul { display: flex; list-style: none; margin: 0; max-height: none !important; padding: 0; }
#filter .order ul li { margin-right: 10px; }
#filter .order ul li:hover a { color: #288ad6 }
#filter .order .price { align-items: center; align-items: center; display: flex; }
#filter .order .price li,
#filter .order .price > span { white-space: nowrap }
#filter .order span { color: #288ad6; cursor: pointer; margin-right: 7px; }
#filter .order .right { display: flex }
#filter .order .right .function { margin-right: 10px; position: relative }
#filter .order .right .function:last-child {margin-right: 0}
#filter .order .right .function .sub { background: #fff; border: 1px solid #ccc; border-radius: 4px; display: none; flex-wrap: wrap; position: absolute; top: calc(100% + 5px); width: 500px; z-index: 15; left: 50%; transform: translateX(-50%)}
#filter .order .right .function .sub .group { float: left; padding: 15px; width: 50%; margin: 0}
#filter .order .right .function .sub .group:nth-child(2n + 1) { clear: both }
#filter .order .right .function .sub .group ul { display: block; }
#filter .order .right .function .sub .group ul li { margin-right: 0 }
#filter .order .right .function .sub .group ul li span { color: #333 }
#filter .order .right .function .sub.filter .title { margin-bottom: 7px; display: block}
#filter .order .right .function .sub .closeSub { font-size: 17px; position: absolute; right: 5px; top: 5px; }
#filter .order .right .function .group.wide { width: 100% }
#filter .order .right .function .group.wide ul { display: flex; flex-wrap: wrap; justify-content: space-between }
#filter .order .right .function .group.wide ul li { width: calc((100% - 10px) / 2); }
#filter .order .right .function.odering .sub { width: 220px }
#filter .order .right .function.odering .sub .group { padding: 0 10px !important; width: 100%; }
#filter .order .right .function.odering .sub label { display: flex }
#filter .order .right .function.odering .sub label span { flex: none }
#filter .order .right .function.odering .sub label span.check { color: #288ad6; margin-left: 0; opacity: 0 }
#filter .order .right .function.odering .sub label.active span.check { opacity: 1 }
#filter .order .right .function.odering .sub label span:last-child { flex: 1 }
#filter .order .filter input[type=checkbox] { margin: 0 }
#filter .filterRight { overflow: auto }
#filter .filterRight ul { display: table; }
#filter .filterRight ul li { display: table-cell; padding-right: 10px; white-space: nowrap }
#filter .lstChoose { padding: 15px; padding-top: 0 }
#filter .lstChoose ul { list-style: none; margin: 0; padding: 0; }
#filter .lstChoose ul li { display: inline-block; margin-bottom: 5px; margin-right: 5px; vertical-align: text-bottom; }
#filter .lstChoose ul li a { background: #288ad6; border-radius: 4px; color: #fff; display: block; font-size: 12px; padding: 6px; white-space: nowrap }
#filter .lstChoose ul li a.deleteAll { background: #c10017 }
#filter .lstChoose ul li a i { margin-left: 2px; position: relative; top: -1px; }

#product .wrp {background: #fff}
#product .nameCate { padding: 10px 12px; border-bottom: 1px solid #eeeeee}
#product .nameCate .name { display: inline-block; border-left: 3px solid #4a90e2; padding: 3px 0; padding-left: 10px; font-family: RobotoB; font-size: 16px}

#product .product { padding: 20px 13px}
.text-center{
   width: 100%;text-align: center;
}
#product .descriptPr .cont { padding: 10px 13px 20px 13px; font-size: 15px; line-height: 20px}

.product .descriptIt { margin-top: 15px; line-height: 20px}
.product .descriptIt .desBot { margin-top: 10px; padding-top: 10px; border-top: 1px dashed #cccccc; color: #666666}
.product .btnBuy { display: table; margin: auto; margin-top: 15px; border: 1px solid #f76b1c; line-height: 28px; border-radius: 3px; padding: 0 15px; min-width: 108px; text-transform: uppercase; font-family: RobotoM; text-align: center; color: #f76b1c}
.product .btnBuy:hover { color: #fff; background: #f76b1c}

#serviceSup { background: #f7f7f7; padding: 15px 0}
#serviceSup .group { display: flex; flex-wrap: wrap}
#serviceSup .group .item { width: 25%; border-right: 1px solid #e1e1e1;}
#serviceSup .group .item:last-child {border-right: none}
#serviceSup .group .item .flex { display: flex; align-items: center; justify-content: center}
#serviceSup .group .item .img {margin-right: 10px}

#product .nameCate.lsh { display: flex; align-items: center; justify-content: space-between}
#product .detailPro .top,#product .detailPro .bot { display: flex; justify-content: space-between; padding: 15px; align-items: flex-start}
#product .detailPro .top .left { width: 595px; margin-right: 20px; display: flex; justify-content: space-between; align-items: center}
#product .detailPro .top .left .wImage:before {padding-bottom: 100%}
#product .detailPro .top .left .imgLarge { width: calc(100% - 118px); }
#product .detailPro .top .left .imgLarge .img {border: 1px solid #e3e3e3}

#product .detailPro .top .left .imgLarge .slick-arrow {background: none; border: none; outline: none; color: #e3e3e3; font-size: 25px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); cursor: pointer; z-index: 5; width: 35px; height: 60px; text-align: center; border: 1px solid #e3e3e3; line-height: 60px; border-radius: 0 4px 4px 0; transition: 0.3s all ease-in-out}
#product .detailPro .top .left .imgLarge .slick-arrow:last-child { right: 0; left: inherit; border-radius: 4px 0 0 4px}
#product .detailPro .top .left .imgLarge .slick-arrow:hover { color: #a5a0a0; border-color: #a5a0a0}

#product .detailPro .top .right { flex: 1; }
#product .detailPro .top .right .namePro { font-size: 23px; display: block; margin-bottom: 10px}
#product .detailPro .top .right .price { background: #f5f5f5; display: flex; justify-content: space-between; align-items: center; padding: 10px 20px}
#product .detailPro .top .right .price1 { display: flex; flex-direction: column; }
#product .detailPro .top .right .price1 .text { font-family: RobotoL; line-height: 20px; height: 20px;}
#product .detailPro .top .right .price1 .numb { font-size: 20px; font-family: RobotoB}
.cc4161c {color: #c4161c}
#product .detailPro .top .right .price .sale { width: 74px; height: 86px; background: url(icon/bgSale.png) center no-repeat; display: flex; flex-direction: column; align-items: center; padding-top: 10px; margin: -10px 0}
#product .detailPro .top .right .price .sale .text { font-size: 18px; text-transform: uppercase; font-family: RobotoM}
#product .detailPro .top .right .price .sale .numb { color: #fff; font-family: RobotoB; font-size: 23px}

#product .detailPro .top .right .descript { display: flex; margin: 12px 0 25px 0}
#product .detailPro .top .right .descript .item { border-right: 1px solid #dddddd; display: flex; align-items: center; justify-content: center; flex-direction: column; flex: 1; padding: 0 10px}
#product .detailPro .top .right .descript .item:last-child {border: none}
#product .detailPro .top .right .descript .item .text {white-space: nowrap}
#product .detailPro .top .right .descript .item .num { font-family: RobotoB; margin-top: 2px; text-align: center}


#product .detailPro .top .right .khuyenmai { position: relative; padding: 10px; border: 1px dashed #cccccc; border-radius: 9px; padding-top: 25px}
#product .detailPro .top .right .khuyenmai .title { position: absolute; color: #fff; background: #ff0000; text-transform: uppercase; padding: 0px 25px; border-radius: 20px; line-height: 30px; top: -15px; font-family: RobotoB}
#product .detailPro .top .right .khuyenmai .group .item { display: flex; justify-content: space-between; align-items: flex-start}
#product .detailPro .top .right .khuyenmai .group .item .wImage { width: 112px; margin-right: 10px}
#product .detailPro .top .right .khuyenmai .group .item .wImage:before {padding-bottom: 53.57%}
#product .detailPro .top .right .khuyenmai .group .item .info { flex: 1; line-height: 20px}
#product .detailPro .top .right .hotline { display: flex; align-items: baseline; justify-content: center; padding: 15px 0; }
#product .detailPro .top .right .hotline a { color: #3498db; margin: 0 7px; }
#product .detailPro .top .right .hotline a .icon { width: 18px; height: 18px; border-radius: 50%; background: #3498db; color: #fff; font-size: 9px; display: inline-block; text-align: center; line-height: 18px; position: relative; top: -2px}
#product .detailPro .top .right .hotline a .icon i {transform: scaleX(-1)}

#product .detailPro .top .right .btnCart a { border-radius: 3px; flex: auto; line-height: 20px; margin-bottom: 10px; overflow: hidden; padding: 10px 0; display: block}
#product .detailPro .top .right .btnCart a:last-child { margin-right: 0 }
#product .detailPro .top .right .btnCart a span { display: block; text-align: center }
#product .detailPro .top .right .btnCart a span:first-child { font-family: RobotoB; text-transform: uppercase }
#product .detailPro .top .right .btnCart .muangay { background: #2586d3; color: #fff }
#product .detailPro .top .right .btnCart a.muatragop { background: #fed700; color: #000; margin-bottom: 0}

#product .detailPro .bot .detailRight { width: 375px; }
.titleR { text-transform: uppercase; font-family: RobotoB; display: block; color: #000; padding-bottom: 8px; border-bottom: 1px solid #dfdfdf; text-align: center; margin-bottom: 10px; position: relative}
.titleR:after { content: ""; position: absolute; width: 75px; height: 2px; background: #cd1818; bottom: -1px; left: 50%; transform: translateX(-50%)}

.thongsokythuat {margin-bottom: 25px}
.thongsokythuat .group .item { align-items: center; display: flex; padding: 7px; border-bottom: 1px solid #eeeeee}
.thongsokythuat .group .item .text1 { width: 135px }
.thongsokythuat .group .item .text2 { flex: 1 }
.thongsokythuat .group .item .text2 a {color: #2899e2}

.tuvanbanhang {margin-bottom: 25px}
.tuvanbanhang .group { display: flex; flex-wrap: wrap; justify-content: space-between}
.tuvanbanhang .group .item { width: calc((100% - 10px) / 2); background: #fed700; border-radius: 20px; display: flex; align-items: center; margin-bottom: 10px; padding: 5px}
.tuvanbanhang .group .item img {margin-right: 9px}
.tuvanbanhang .group .item .text { font-family: RobotoB; color: #000; flex: 1}

.tintucsanpham .group {padding: 0 5px}
.tintucsanpham .group .item { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 15px}
.tintucsanpham .group .item .wImage { width: 100px;margin-right: 10px}
.tintucsanpham .group .item .wImage:before {padding-bottom: 60%}
.tintucsanpham .group .item .name {flex: 1}
.tintucsanpham .group .item .name:hover,.thongsokythuat .group .item .text2 a:hover,.otherPro .group .item .info .name:hover {color: #fed700}

#product .detailPro .bot .detail { flex: 1; margin-right: 25px}
.otherPro { width: 630px; margin: auto; margin-bottom: 35px; max-width: 100%}
.otherPro .title { font-size: 23px; font-family: RobotoB; text-align: center; display: block; margin-bottom: 15px}
.otherPro .group { display: flex; flex-wrap: wrap}
.otherPro .group .item { width: calc((100% - 100px) / 3); margin-right: 50px}
.otherPro .group .item:nth-child(3n) {margin-right: 0}
.otherPro .group .item .wImage:before {padding-bottom: 100%}
.otherPro .group .item .info {margin-top: 10px;    text-align: center;;    width: 100%;}
.otherPro .group .item .info .name { display: block; line-height: 20px; text-align: center; margin-bottom: 10px}
.otherPro .group .item .info .price .new { color: #cc0000; font-family: RobotoB; text-align: center}

.mainDes .tabs .tab-links { border-bottom: 1px solid #999999; padding: 0; margin: 0; list-style: none; display: flex; margin-bottom: 20px}
.mainDes .tabs .tab-links a { text-transform: uppercase; padding: 0 28px; padding-bottom: 10px; display: block}
.mainDes .tabs .tab-links li {position: relative}
.mainDes .tabs .tab-links li:after { content: ""; width: 100px; height: 2px; background: #cf4040; position: absolute; bottom: -1px; left: 50%; transform: translateX(-50%); display: none}
.mainDes .tabs .tab-links li.active:after {display: block}
.mainDes .tabs .tab-links li.active a { font-family: RobotoB;}
.mainDes .tabs .tab-links li:hover a {color: #cf4040}
.mainDes .content { max-height: 400px; overflow: hidden}
.mainDes .content.active {max-height: none}

#commentFace {margin-top: 15px}
#commentFace .title { font-family: RobotoB; border-bottom: 1px solid #ccc; position: relative; text-transform: uppercase; padding: 0 10px; padding-bottom: 10px}
#commentFace .title:after { content: ""; height: 2px; width: 120px; position: absolute; bottom: -1px; background: #cf4040; left: 0}

.show-more::before { content: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#fff), color-stop(.2, #fff), to(rgba(255, 255, 255, 0))); display: block; height: 55px; margin-top: -45px; }
.show-more .readmore { color: #288ad6; cursor: pointer; display: block; font-size: 14px; line-height: 40px; margin: 10px auto; overflow: hidden; position: relative; width: 90px; }
.show-more .readmore:after { border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #288ad6; content: ''; display: inline-block; margin: -2px 0 0 5px; right: 0; vertical-align: middle;width: 0;}

.splienquan {margin-bottom: 20px}
.splienquan .item { display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; border-bottom: 1px dashed #ccc; padding-bottom: 15px}
.splienquan .item:last-child { padding: 0; margin: 0; border: none}
.splienquan .item .left { width: 273px; margin-right: 20px; display: flex; align-items: flex-start}
.splienquan .item .left .wImage { width: 80px; margin-right: 7px; height: 80px}
.splienquan .item .left .info {flex: 1}
.splienquan .item .left .info .name { font-family: RobotoB; font-size: 16px; margin-bottom: 3px; display: block}
.splienquan .item .left .info .price { font-size: 16px; color: #d0021b; font-family: RobotoM}
.splienquan .item .lstBtn { flex: 1; display: flex; justify-content: space-between; align-items: center}
.splienquan .item .lstBtn .buttn { flex: 1; margin: 0 5px; padding: 15px 10px; background: #288ad6; color: #fff; font-size: 12px; font-family: RobotoM; border-radius: 3px; text-transform: uppercase; text-align: center}
.splienquan .item .lstBtn .buttn.muangay {background: -webkit-linear-gradient(top,#f59000,#fd6e1d)}
.splienquan .item .lstBtn .buttn:hover {filter: brightness(110%)}
#bttop { bottom: 90px; color: #333; cursor: pointer; display: none; display: none; font-family: RobotoB; font-size: 11px; font-weight: 900; position: fixed; right: -40px; text-align: center; transform: rotate(-90deg); z-index: 99; }
#bttop span { float: left; margin: 4px 10px; }
#bttop svg { height: 25px; }
li{list-style:none}.cursor{cursor:pointer}.btn-primary{color:#fff;background-color:rgb(21 147 255 / 56%);border-color:#2e6da4}.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}.red{color:red}.fixed-width-full{line-height:1.15;font-size:12px;width:77%;font-family:Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif!important;visibility:visible;margin:0 auto;padding:0;background-color:#fff;flex-basis:100%;margin-top:12px}.pdp-mod-section-title.outer-title{padding-left:24px;padding-right:24px;width:100%;height:52px;line-height:52px;background:#fafafa}.pdp-mod-section-title{font-weight:500;font-family:Roboto-Medium;font-size:16px;line-height:19px;color:#212121;letter-spacing:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.pdp-mod-review .mod-rating{padding:20px 24px}.pdp-mod-review .mod-rating .content{margin-top:18px}.pdp-mod-review .mod-rating .content:after,.pdp-mod-review .mod-rating .content:before{content:"";display:table}.pdp-mod-review .mod-rating .left{float:left}.pdp-mod-review .mod-rating .left:after,.pdp-mod-review .mod-rating .left:before{content:"";display:table}.pdp-mod-review .mod-rating .summary{float:left;width:145px;margin-right:90px}.pdp-mod-review .mod-rating .score{color:#212121}.pdp-mod-review .mod-rating .score-average{font-size:48px}.pdp-mod-review .mod-rating .score-max{font-size:32px;color:#9e9e9e;text-align:center;line-height:40px}.pdp-mod-review .mod-rating .average{margin-top:7px}.pdp-mod-review .mod-rating .count{margin-top:9px;color:#757575}.pdp-mod-review .mod-rating .detail{float:left}ul{list-style:none}.pdp-mod-review .mod-rating .detail li{margin-bottom:8px;color:#757575;font-size:10px}.pdp-mod-review .mod-rating .detail li .progress-wrap{margin-left:17px;margin-right:12px}.pdp-review-progress{display:inline-block;position:relative;width:138px;height:12px}.container-star{display:inline-flex}.star{display:inline-block;width:15.96px;height:15.96px}.pdp-review-progress .bg{background:#eff0f5}.pdp-review-progress .bar{position:absolute;left:0;top:0;width:100%;height:100%}.pdp-review-progress .fg{background:#faca51}.pdp-mod-review .mod-rating .detail li .percent{font-size:12px;color:#212121}.pdp-mod-review .mod-rating .left:after{clear:both}.pdp-mod-review .mod-rating .content:after{clear:both}.pdp-mod-review .mod-rating .content:after,.pdp-mod-review .mod-rating .content:before{content:"";display:table}.pdp-mod-filterSort{height:44px;padding-left:24px;border-top:1px solid #eff0f5;border-bottom:1px solid #eff0f5}.pdp-mod-filterSort .title{display:inline-block;height:44px;line-height:44px;font-size:14px;color:#212121}.pdp-mod-filterSort .oper{float:right;display:inline-block;padding:0 12px;height:44px;line-height:44px;border-left:1px solid #eff0f5;font-size:13px;color:#757575;cursor:pointer}.pdp-mod-filterSort .oper .oper-icon{font-size:20px;margin-right:5px;position:relative;top:2px}.lazada{font-family:"lazada"!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.pdp-mod-filterSort .oper .condition{color:#212121;margin-left:5px}.pdp-mod-review .mod-reviews .top:after,.pdp-mod-review .mod-reviews .top:before{content:"";display:table}.pdp-mod-review .mod-reviews .starCtn{margin-right:6px}.pdp-mod-review .mod-reviews .left{float:left}.pdp-mod-review .mod-reviews .title{font-size:12px;display:inline-block;overflow:hidden;word-break:break-word;color:#757575;float:right}.pdp-mod-review .mod-reviews .top:after{clear:both}.pdp-mod-review .mod-reviews .top:after,.pdp-mod-review .mod-reviews .top:before{content:"";display:table}.pdp-mod-review .mod-reviews .item{padding:17px 21px;color:gray;font-size:12px;border-bottom:1px solid #eff0f5}.pdp-mod-review .mod-reviews .top:after{clear:both}.pdp-mod-review .mod-reviews .top:after,.pdp-mod-review .mod-reviews .top:before{content:"";display:table}.pdp-mod-review .mod-reviews .middle{margin:5px 0 15px}.pdp-mod-review .mod-reviews .verifyImg{margin-left:8px;margin-right:3px;vertical-align:sub}.pdp-mod-review .mod-reviews .verify{color:#4caf50}.pdp-mod-review .mod-reviews .content{color:#212121;font-size:14px;white-space:pre-wrap;word-break:break-word}.review-image{padding-top:16px;padding-bottom:8px}.review-image__list{display:flex;margin-left:-2px}.review-image__item{position:relative;cursor:pointer;border:2px solid transparent;transition:all .3s cubic-bezier(.46,.03,.52,.96);display:block;width:auto;height:auto;text-align:initial}.pdp-common-image:before{display:inline-block;content:"";width:0;height:100%;vertical-align:middle}.review-image__item .image{width:94px;height:94px;background-position:50%;background-repeat:no-repeat;background-size:contain;background-color:#eee}.pdp-common-image .image{display:inline-block;width:auto;height:auto;max-width:100%;max-height:100%;vertical-align:middle}.pdp-mod-review .mod-reviews .skuInfo{font-size:12px;margin-top:8px}.seller-reply-wrapper{position:relative;background-color:#f8f8f8;padding:15px 15px 15px 48px;margin-top:20px}.seller-reply-wrapper:before{content:" ";position:absolute;top:-15px;left:30px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:16px solid #f8f8f8}.pdp-mod-review .mod-reviews .item-content--seller-reply .item-title{color:#ff330c}.pdp-mod-review .mod-reviews .item-title{font-size:12px;color:#6a6a6a;line-height:16px;margin-bottom:8px;display:inline-block}.seller-reply-badge{width:20px;height:20px;margin-right:8px;display:inline-block;vertical-align:bottom}.pdp-mod-review .mod-reviews .content{color:#212121;font-size:14px;white-space:pre-wrap;word-break:break-word}.pdp-mod-review .mod-reviews .bottom{margin-top:8px}.pdp-mod-review .mod-reviews .bottom:after,.pdp-mod-review .mod-reviews .bottom:before{content:"";display:table}.pdp-mod-review .mod-reviews .bottom .left{cursor:pointer}.pdp-mod-review .mod-reviews .bottom .like-icon{color:#bababa;margin-right:7px}.pdp-mod-review .mod-reviews .right{float:right}.oper-wrap{cursor:pointer}.pdp-mod-qna{overflow:hidden;padding:0 24px 18px;background-color:#fff}.qna-ask-box-container{margin:20px 0}.qna-ask-box{position:relative}.qna-ask-box.folded .qna-ask-input{height:40px;line-height:40px;border-width:1px;border-bottom-left-radius:3px;border-top-left-radius:3px}.qna-ask-box .qna-ask-input{display:block;width:100%;border-width:0 0 1px;border-bottom-color:#f1f1f1}.next-input.next-input-single{border-color:#dadada}.next-input-medium{border-radius:0}.qna-ask-box input[placeholder]{color:#9e9e9e}.next-input-medium input{border-radius:0}.next-input-medium input{height:38px;line-height:38px;margin:0;padding:0 8px;font-size:20px}.next-input input,.next-input textarea{width:100%;border:0;outline:0;padding:0;font-weight:400;vertical-align:baseline;background-color:transparent}.next-input input{height:100%}.next-input,.next-input *,.next-input :after,.next-input :before{box-sizing:border-box}.qna-ask-box.folded .qna-ask-btn{position:absolute;top:0;right:0;border-bottom-left-radius:0;border-top-left-radius:0}.qna-ask-box .qna-ask-btn{padding:0 32px;height:40px;line-height:40px}.next-btn-medium{margin:0;height:40px;padding:0 24px;font-size:12px;line-height:38px;border-width:1px}.next-btn-primary,.next-btn-primary.visited,.next-btn-primary:link,.next-btn-primary:visited{color:#fff}.next-btn-primary{border-style:solid;background-color:#f57224;border-color:transparent}.next-btn,.next-btn:active,.next-btn:focus{outline:0}.qna-empty-icon.lazada-icon{display:block;margin:30px auto 10px;text-align:center;font-size:64px;color:#dadada}.qna-empty-text{text-align:center;color:#757575;font-size:14px}.qna-section-title{margin-top:15px;padding-bottom:8px;font-size:15px;color:#212121;border-bottom:1px solid #eff0f5}.qna-item-group{padding-left:48px;margin:25px 0}.seller-container .seller-name .seller-im-wrapper .seller-im-content{color:#25a5d8}.qna-icon-q{background:green;padding:5px;border-radius:50%;color:white}.qna-icon{position:absolute;margin-left:-48px;font-size:24px}.qna-meta{margin-top:5px;color:#9e9e9e}.opacity{opacity:.2}.r-active{opacity:1;color:yellow}.review_text{display:inline-block;margin-left:10px;position:relative;background:#52b858;color:#fff;padding:8px 10px 17px 10px;box-sizing:border-box;font-size:12px;border-radius:2px}.review_text:after{right:100%;top:50%;content:" ";height:0;width:0;position:absolute;pointer-events:none;border:6px solid rgba(82,184,88,0);border-right-color:#52b858;margin-top:-6px}.pagination{display:flex;font-size:130%;float:left}.page-item{padding:10px;margin-left:5px;cursor:pointer;background-color:#75757575}.pagination .active{border-color:#16849b;background:#1a9cb7;color:white}.disabledd{background-color:#848080;cursor:no-drop;color:white}.oper{float:right;display:inline-block;padding:0 12px;height:44px;line-height:44px;border-left:1px solid #eff0f5;font-size:13px;color:#757575;cursor:pointer}.oper .oper-icon{font-size:20px;margin-right:5px;position:relative;top:2px}.oper:hover>.next-menu{display:block}.next-menu{display:none;border:1px solid #eff0f5;border-radius:2px;box-shadow:1px 1px 4px 0 rgba(0,0,0,.25);font-size:14px;line-height:28px;padding:12px 0;min-width:100px;background:#fff}.next-menu ul{list-style:none;margin:0;padding:0}.next-menu-content li{padding:0 20px;position:relative;cursor:pointer;white-space:nowrap;transition:background .2s ease}.next-menu-content li:hover{background-color:#75757575}.next-menu-content .active{cursor:no-drop;opacity:.5}.expandInDown{animation-name:expandInDown;animation-iteration-count:1;animation-duration:.3s;animation-delay:0s;animation-timing-function:cubic-bezier(.23,1,.32,1);animation-fill-mode:both;backface-visibility:hidden}@keyframes expandInDown{0%{-ms-filter:"alpha(opacity=0)";-ms-transform-origin:left top 0;transform-origin:left top 0}100%{-ms-filter:"alpha(opacity=100)";-ms-transform-origin:left top 0;transform-origin:left top 0}}
legend{
   padding:15px;
   font-size:24px;
}
.d-none{
   display: none;
}
#status {
   width: 200px;
   height: 200px;
   position: fixed;
   left: 50%;
   top: 50%;
   background-image: url("/view/img/loader.gif");
   background-repeat: no-repeat;
   background-position: center;
   margin: -100px 0 0 -100px;
   z-index: 100001
}
*{
   outline:none;
   font-family: Roboto
}
#loader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: #FFF;
   z-index: 100000
}
.box-footer {
   width: 100%;
}
