.d-none {
    display: none !important;
}
.img-thumbnail {
    width: 200px;
    height: 200px;
}
.image-area {
    position: relative;
    width: max-content;
    background: #333;
}
.remove-image {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10em;
    padding: 2px 6px 3px;
    text-decoration: none;
    font: 700 21px/20px sans-serif;
    background: #555;
    border: 3px solid #fff;
    color: #FFF;
    box-shadow: 0 2px 6px rgb(0 0 0 / 50%), inset 0 2px 4px rgb(0 0 0 / 30%);
    text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
